.video-wrapper {
  border-radius: 12px;
}

.snapshot-message {
  margin: 0 0 10px;
  padding: 0;

  font-size: 18px;
  font-weight: 600;
}

.snapshot-message--hidden {
  visibility: hidden;
}

.countdown {
  color: #fdbb30;
}
