* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  margin: 40px 0 5px;
  font-size: 30px;
}

p {
  font-size: 16px;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

/* Tablet/Desktop */
@media (min-width: 768px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
  }
}
