.captured-photo-title {
  font-size: 36px;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.canvas-container {
  position: relative;
  width: 100%;
  max-width: 640px;
  aspect-ratio: 16 / 9;

  overflow: hidden;
  background: #111;
}
